<button type="button" name="button" (click)='getInfoFromServiceClass1()'>employee1</button>
<ul claas="list-group">
    <li *ngFor="let info of infoReceive1" class="list-group-item">{{info}}</li>
</ul>
<pre></pre>
<button type="button" name="button" (click)='getInfoFromServiceClass2()'>employee2</button>
<ul claas="list-group">
    <li *ngFor="let info of infoReceive2" class="list-group-item">{{info}}</li>
</ul>
<pre></pre>
<button type="button" name="button" (click)='getInfoFromServiceClass3()'>employee3</button>
<ul claas="list-group">
    <li *ngFor="let info of infoReceive3" class="list-group-item">{{info}}</li>
</ul>